:root {
  --ksGray: #383e42;
  --ksGrayTp: rgba(56, 62, 66, 0.05);
  --ksGreen: #22c55e;
  --back_color: hwb(0 94% 6%);
  --myText: #0000;
  --titleColor: #374151;
  --titleColorHover: #111827;
  --lng_btn_back: #d1d5db;
  --activeTitleColor: #000000;
  --preKsBoxBack: #f3f4f6;
  --preKsBoxIcon: #383e42;
  --serviceMenuBack: #e5e7eb;
  --serviceMenuBtnBack: #ffffff;
}
[data-theme="light"] {
  --ksGray: #383e42;
  --ksGrayTp: rgba(56, 62, 66, 0.05);
  --ksGreen: #22c55e;
  --back_color: #f7f7f7;
  --myText: black;
  --titleColor: #374151;
  --titleColorHover: #111827;
  --lng_btn_back: #e1e9e6;
  --activeTitleColor: #000000;
  --preKsBoxBack: #f3f4f6;
  --preKsBoxIcon: #383e42;
  --serviceMenuBack: #e5e7eb;
  --serviceMenuBtnBack: #ffffff;
  --messageBoxBack: white;
  --messageBoxInputBack: var(--ksGray);
  --contactBoxBack: #f1f1f1;
  --contactBoxTitleBack: white;
}

[data-theme="dark"] {
  --ksGray: #383e42;
  --ksGrayTp: #b4d7c93d;
  --ksGreen: #22c55e;
  /* --back_color: rgb(15, 15, 15); */
  --back_color: var(--ksGray);
  --myText: white;
  --titleColor: #9ca3af;
  --titleColorHover: #e5e7eb;
  --lng_btn_back: #234035;
  --activeTitleColor: #ffffff;
  /* --preKsBoxBack: #b4d7c93d; */
  --preKsBoxBack: #24282a;
  --preKsBoxIcon: #a0c5b0;
  --serviceMenuBack: #131615;
  --serviceMenuBtnBack: #232828;
  --messageBoxBack: #24282a;
  --messageBoxInputBack: #e8e8e8;
  --contactBoxBack: #33373a;
  --contactBoxTitleBack: var(--preKsBoxBack);
}
/** old  */
/* 
[data-theme="dark"] {
  --ksGray: #383e42;
  --ksGrayTp: #b4d7c93d;
  --ksGreen: #22c55e;
  --back_color: rgb(15, 15, 15); 
  --back_color: var(--ksGray);
  --myText: white;
  --titleColor: #9ca3af;
  --titleColorHover: #e5e7eb;
  --lng_btn_back: #234035;
  --activeTitleColor: #ffffff;
   --preKsBoxBack: #b4d7c93d; 
  --preKsBoxBack: #262e2b;
  --preKsBoxIcon: #a0c5b0;
  --serviceMenuBack: #262e2b;
  --serviceMenuBtnBack: #171919;
} 
*/

html {
  background-color: var(--back_color);
  color: var(--myText);
}

button,
input,
textarea {
  outline: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  padding: 0 200px;
}

.presenteKs {
  display: grid;
  grid-template-areas:
    "preBox1 preBox1 preBox2"
    "preBox3 preBox4 preBox5";
  gap: 20px;
}

.presenteKs > div:hover .prKsIcon {
  color: var(--ksGreen);
}

#preKsBox1 {
  grid-area: preBox1;
}

#preKsBox2 {
  grid-area: preBox2;
}

#preKsBox3 {
  grid-area: preBox3;
}

#preKsBox4 {
  grid-area: preBox4;
}

#preKsBox5 {
  grid-area: preBox5;
}

.sliderBox:hover .sliderBtn {
  opacity: 100%;
  pointer-events: all;
}

.agendaBoxHome:hover > .agendaBoxButtonHome {
  background-color: var(--ksGreen);
  color: white;
}

.servicePageGrid {
  grid-template-columns: 320px auto;
  padding: 0 200px;
}

.contactBoxButton:hover .contactBoxInfo {
  opacity: 100%;
  visibility: visible;
}
